.container{
  display: grid;
  grid-template-columns: repeat(24,1fr);
  grid-template-rows: repeat(33,50px);
}

/*gemensamt*/
h1{
  grid-row: 1/3;
  grid-column: 1/-1;
}
ul{
  grid-row: 3/5;
  grid-column: 2/24;
}
footer{
  grid-row: 32/34;
  grid-column: 1/-1;
}

/*index*/
.hej{
  grid-row: 6/15;
  grid-column: 2/6;
}
.zero{
  grid-row: 6/15;
  grid-column: 20/24;
}
.slideshow-container{
  grid-row: 6/15;
  grid-column: 6/20;
}
.mySildes{
grid-row: 6/15;
grid-column: 6/20;
}
.first{
  grid-row: 16/20;
  grid-column: 2/13;
}
.second{
  grid-row: 16/22;
  grid-column: 14/24;
}
.third{
  grid-row: 23/27;
  grid-column: 12/24;
}
.forth{
  grid-row: 21/27;
  grid-column: 2/11;
}
.fith{
  grid-row: 28/31;
  grid-column: 2/24;
}
.sixth{
  grid-row: 28/31;
  grid-column: 12/24;
}

/* klass sidan*/
.h31{
  grid-row: 5/6;
  grid-column: 1/-1;
}
.h32{
grid-row: 17/18;
grid-column: 1/-1;
}
.seventh{
  grid-row: 7/11;
  grid-column: 4/9;
}
.eighth{
  grid-row: 7/11;
  grid-column: 10/16;
}
.nineth{
  grid-row: 7/11;
  grid-column: 17/22;
}
.tenth{
  grid-row: 19/23;
  grid-column: 4/9;
}
.eleventh{
  grid-row: 19/23;
  grid-column: 10/16;
}
.tweleth{
  grid-row: 19/23;
  grid-column: 17/22;
}
.klass{
  grid-row: 12/16;
  grid-column: 2/24;
}
.nivåer{
  grid-row: 24/28;
  grid-column: 2/24;
}

@media only screen and (max-width: 600px){


}
